
body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(181, 81%, 87%);
    color:hsl(182, 85%, 8%)
}


nav {
    overflow: hidden;
    background-color: hsl(181, 84%, 15%);
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    margin-bottom: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: white;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
}



nav ul li a {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: color 1s ease, font-size .3s ease-out;
}

nav ul li a:hover {
    color: hsl(181, 81%, 87%);
    font-size: 1.6rem;
}

.content {
    display: flex;
    flex-direction: row; 
}

.sidebar {
    background-color: hsla(181, 84%, 25%, 0.9);
    padding: 20px 0;
    width: 150px; 
    height: 100vh;
    overflow: auto;
    border-radius: 10px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: hsl(181, 50%, 40%);
}

main {
    flex-grow: 1;
    padding: 20px;
    background-color: hsl(181, 81%, 87%);
}