
:root {
    --darker: hsl(180, 85%, 15%);
    --dark: hsl(180, 35%, 20%);
    --mid: hsl(180, 85%, 25%);
    --light: hsl(180, 100%, 25%);
    --lighter: hsl(180, 80%, 90%);
    --background-color: hsl(180, 10%, 97%);
}



body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(180, 10%, 97%);
    color:hsl(180, 85%, 15%)
}


nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 5px;
}
#treble-container{
    background-color: hsl(180, 35%, 20%);
    border-radius: 50%;
    margin: 3px 45px;
    animation: slideInOut 10s infinite;

}
#treble{
    max-width: 50px;
    padding: 2px;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav h1{
    font-size: 30px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 0px hsla(180, 85%, 15%, 0.2);
    padding: 0;
    margin: 0 0 0 30px;
    animation: disappear 10s infinite;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: white;
    padding: 0;
    justify-content: right;
    align-items: center;
}



nav ul li a {
    color: hsla(180, 85%, 15%, 0.9);
    font-size: 1rem;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 3px;
    transition: color .3s ease, background-color .5s ease;
    margin-right: 15px;
}

nav ul li a:hover {
    color: hsla(0, 0%, 100%, 1);
    background-color: hsla(180, 25%, 35%, 1);
}

nav ul li a:active {
    background-color: rgb(255, 255, 255);
}

.content {
    display: flex;
    flex-direction: row; 
}

.sidebar {
    position: fixed;
    background-color: hsla(180, 85%, 25%, 0.9);
    border-radius: 3px;
    padding: 15px 0;
    width: 20vh; 
    height: 100vh;
    overflow: auto;
}

.sidebar a {
    padding: 10px 15px;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: background-color 1s ease-out;
}

.sidebar a:hover {
    background-color: hsla(180, 80%, 90%, 0.5);
}

.sidebar a:active {
    background-color: hsl(0, 0%, 100%);
}

.sidebar h3 {
    margin-left: 50px;
    color: white;
    font-size: 14px;
    font-weight: 100;
}

main {
    margin-left: 20vh;
    flex-grow: 1;
    padding-left: 20px;
}

h1 {
    font-weight: 100;
}
.piano {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    animation: slideInRight 1s ease-out;
}

.whitekey, .blackkey {
    cursor: pointer;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 180px;
    width: 50px;
    background: white;
    border: 1px solid black;
    border-radius: 3px 3px 10px 10px;
    transition: background .5s;
}

.blackkey {
    height: 100px;
    width: 30px;
    border: 1px solid black;
    border-radius: 2px 2px 5px 5px;
    background: black;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    margin-bottom: 82px;
}

.whitekey:hover, .blackkey:hover {
    background: hsl(180, 80%, 90%)
}

.whitekey:active, .blackkey:active {
    background: hsl(180, 100%, 25%);
    transition: background .3s;
}

.hidden-text {
    opacity: 0%;
    font-size: 30px;
    padding-bottom: 10px;
    color: hsl(180, 85%, 15%);
    transition: opacity 1s ease-in-out;
}
.whitekey:hover .hidden-text {
    opacity: 100%;
}

.pianonames {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    animation: slideInRight 1s ease-out;
}
.pianokeyname {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 30px;
    width: 50px;
    border-radius: 20%;
}

.svg-container {
    position: relative;
    width: 400px;
    height: 400px;
    font-family: Arial, sans-serif;
  }
.circle-text {
    position: absolute;
    font-size: 30px;
    color: hsl(180, 85%, 15%);
    pointer-events: none;
  }
.n1 {top: 20%; left: 68%; transform: translate(-50%, -50%);}
.n2 {top: 33%; left: 80%; transform: translate(-50%, -50%);}
.n3 {top: 50%; right: 10%; transform: translate(0%, -50%);}
.n4 {top: 68%; left: 80%; transform: translate(-50%, -50%);}
.n5 {top: 80%; left: 68%; transform: translate(-50%, -50%);}
.n6 {bottom: 10%; left: 50%; transform: translate(-50%, 0%);}
.n7 {top: 80%; left: 32%; transform: translate(-50%, -50%);}
.n8 {top: 67%; left: 15%; transform: translate(0%, -50%);}
.n9 {top: 50%; left: 10%; transform: translate(0%, -50%);}
.n10 {top: 33%; left: 15%; transform: translate(0%, -50%);}
.n11 {top: 20%; right: 65%; transform: translate(0%, -50%);}
.n12 {top: 10%; left: 50%; transform: translate(-50%, 0%);}


@keyframes slideInOut {
    0%, 90%, 100% {
        transform: translateX(0%);
        opacity: 1;
    }
    95% {
        transform: translateX(2000%);
        opacity: 0;
    }
    96%  {
        transform: translateX(-120%);
        opacity: 0;
    }
    99% {
        transform: translateX(5%);
        opacity: .95;
    }
}

@keyframes disappear {
    0%, 85%, 100% {
        opacity: 1;
        transform: scale(1) translate(0, 0);
    }
    90% {
        opacity: 0;
        transform: scale(1) translate(0, 0);
    } 
    95% {
        opacity: 0;
        transform: scale(0) translate(500px, 0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(1000px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}